@model CWB.App.Models.Routing.RoutingListItemVM
<h5 class="p3">Routing List</h5>
<div class="row">
    <div class="table-responsive mt-1 table-he-250">
        <table class="table table-sm table-bordered  mb-3 text-center mt-1 tableFixHead w-50">
            <thead class="  table-info th-sti">
                <tr class="table-border-bottom">
                    <!--<th width="5%"></th>-->
                    <th width="50%">Routing Name</th>
                    <th width="15%">PreferredRoute</th>
                    <th width="20%">Status</th>
                    <th width="20%">Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var routing in Model.RoutingVMs)
                {
                    if (routing.Deleted == 1)
                        continue;
                    routing.BGColor = "white";
                    if (routing.PreferredRouting == 1)
                    {
                        routing.BGColor = "#eee";
                        routing.StrPreferredRouting = "Yes";
                    }
                    <tr bgcolor="@routing.BGColor">
                       <!--<td><input class="form-check-input mt-1" type="radio" id="RoutingChk" name="RoutingChk" value="@routing.RoutingId" checked></td>-->
                        <td data-key="RoutingName">@routing.RoutingName</td>
                        <td data-key="PreferredRouting">@routing.StrPreferredRouting</td>
                        <td data-key="RoutingStatus">----</td>
                        <td data-key="CreationDate">----</td>
                        <td>
                            <div class="dropdown float-center">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-vertical"></i></a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <!--<a href="javascript:void(0);" onclick="ViewRoute();" class="dropdown-item">View</a>-->
                                    <a href="javascript:EditRoute(@routing.RoutingId,'@routing.RoutingName');" data-routingid="@routing.RoutingId" data-routingname="@routing.RoutingName" class="dropdown-item">Edit</a>
                                    <a href="javascript:void(0);" data-routingname="@routing.RoutingName" data-manufid="@routing.ManufacturedPartId" data-origroutingid="@routing.OrigRoutingId" data-routingid="@routing.RoutingId" data-preferredrouting="@routing.PreferredRouting" data-status="@routing.Status" data-toggle="modal" data-target="#delete-rout" class="dropdown-item">Delete</a>
                                    <a href="javascript:void(0);" data-routingname="@routing.RoutingName" data-manufid="@routing.ManufacturedPartId" data-origroutingid="@routing.OrigRoutingId"  data-routingid="@routing.RoutingId" data-toggle="modal" data-target="#preferred-rout" class="dropdown-item">Set as Preferred Routing</a>
                                    <a href="javascript:void(0);" data-manufid="@routing.ManufacturedPartId" data-origroutingid="@routing.OrigRoutingId" data-routingid="@routing.RoutingId" data-toggle="modal" data-target="#alt-rout" class="dropdown-item">Create Alternate Routing from this Routing </a>
                                    <a href="javascript:void(0);" data-routingname="@routing.RoutingName" data-manufid="@routing.ManufacturedPartId" data-origroutingid="@routing.OrigRoutingId" data-routingid="@routing.RoutingId" data-preferredrouting="@routing.PreferredRouting" data-status="@routing.Status" data-toggle="modal" data-target="#edit-routingname" class="dropdown-item">Edit Routing Name</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6 text-end" hidden>
        <button id="BtnCreateAlRouting" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#alt-rout" title="Retrieving data. Wait a few seconds and try to cut or copy again." data-plugin="tippy" data-tippy-placement="top">Create New Alternate Routing</button>
    </div>
</div>
