@{
    ViewData["Title"] = "Contacts";
}

@model IEnumerable<CWB.App.Models.Contacts.ContactsVM>
<input value="M-C" type="hidden" id="hdn-nav-menu" />
<div class="content">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-11">
                    <h5>Customer / Supplier Company & Employee List</h5>
                </div>
            </div>
            <!-- -------- -->

            <div class="row mt-2">
                <div class="col-md-3">
                    <select class="form-select form-select-sm contact-search"
                            title="Select from Drop Down - Customer or Supplier Company or Both" data-plugin="tippy"
                            data-tippy-placement="top" asp-items="ViewBag.CompanyTypes" data-key="CompanyType">
                        <option value="">--Select--</option>
                    </select>
                </div>
                <!-- -------- -->
                <div class="col-md-3" title="Enter the Company Name Partially or Fully to shortlist " data-plugin="tippy" data-tippy-placement="top">
                    <input class="form-control form-control-sm contact-search" type="text" data-key="CompanyName" placeholder="Company Name">
                </div>
                <!-- -------- -->
                <div class="col-md-2" title="Enter the Company Location if you wish to search by Location" data-plugin="tippy" data-tippy-placement="top">
                    <input class="form-control form-control-sm contact-search" type="text" data-key="Location" placeholder="Location">
                </div>
                <!-- -------- -->
                <div class="col-md-3" title="Enter any keyword that will enable shortlisting the Companies" data-plugin="tippy" data-tippy-placement="top">
                    <input class="form-control form-control-sm contact-search" type="text" data-key="DivisionName" placeholder="DivisionName">
                </div>
                <!-- -------- -->
                <!-- -------- -->
            </div>

            <!-- end row -->
            <div class="table-responsive table-he-250 mt-3">
                <table class="table table-sm table-bordered  mb-3 mt-1 tableFixHead" id="tbl-contacts">
                    <thead class="table-info th-sti text-center">
                        <tr class="table-border-bottom">
                            <th width="10%"></th>
                            <th width="50%">Company Name</th>
                            <th width="20%">Division / Branch</th>
                            <th width="15%">City / Country</th>
                            <th width="5%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var contact in Model)
                        {
                            <tr>
                                <td data-key="CompanyType">@contact.CompanyType</td>
                                <td data-key="CompanyName">@contact.CompanyName</td>
                                <td data-key="DivisionName">@contact.DivisionName</td>
                                <td data-key="Location">@contact.City / @contact.Country</td>
                                <td>
                                    <div class="dropdown float-center">
                                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-vertical"></i></a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <!-- item-->
                                            <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#dialog-company"
                                               data-id="@contact.CompanyId" data-companyname="@contact.CompanyName"
                                               data-divisionid="@contact.DivisionId" data-companytype="@contact.CompanyType"
                                               data-divisionname="@contact.DivisionName"
                                               data-plantname="@contact.PlantName"
                                               data-city="@contact.City"
                                               data-pin="@contact.Pincode"
                                               data-country="@contact.Country"
                                               data-location="@contact.Location"
                                               data-gst="@contact.GstNo"
                                               data-pan="@contact.PanNo"
                                               class="dropdown-item">Edit</a>
                                            <!-- item-->
                                            @*<a href="javascript:void(0);" onclick="DeleteCompany(@contact.CompanyId);" data-bs-toggle="modal" data-bs-target="#dialog-company" data-id="@contact.CompanyId" data-divisionid="@contact.DivisionId" class="dropdown-item">Delete Company</a>*@
                                            <!-- item-->
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- ------- -->
            <div class="row">
                <div class="col">
                    <button class="btn btn-sm btn-info" data-bs-toggle="modal" data-id="0" data-divisionId="0" data-bs-target="#dialog-company" title="Select to Add details of a Company"
                            data-plugin="tippy" data-tippy-placement="top">
                        Add Company
                    </button>
                </div>
            </div>
            <!-- ============================== -->
        </div>
        <!-- end card body -->
    </div>
    <!-- ============================== -->
</div>

<partial name="../Shared/_ContactsDialog" model='new CWB.App.Models.Contacts.CompanyVM{CompanyId=0,DivisionId=0,Location=""}' />
@section scripts {
    <script src="~/js/contacts.js"></script>
    <script src="~/js/contact-model.js"></script>
}

<!--
     public long CompanyId { get; set; }
        public long DivisionId { get; set; }
        public string CompanyType { get; set; }
        public string CompanyName { get; set; }
        public string DivisionName { get; set; }
        public string Location { get; set; }
        public string Notes { get; set; }
-->
<!--Company Template-->
<template id="company-template">
    <tr>
        <td data-key="CompanyType">{companyType}</td>
        <td data-key="CompanyName">{companyName}</td>
        <td data-key="DivisionName">{divisionName}</td>
        <td data-key="Location">{city} / {country}</td>
        <td>
            <div class="dropdown float-center">
                <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-vertical"></i></a>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#dialog-company"
                       data-id="{companyId}" data-companyname="{companyName}"
                       data-divisionid="{divisionId}" data-companytype="{companyType}"
                       data-divisionname="{divisionName}"
                       data-plantname="{plantName}"
                       data-location="{location}"
                                               data-city="{city}"
                                               data-pin="{pincode}"
                                               data-country="{country}"
                                               data-gst="{gstNo}"
                                               data-pan="{panNo}"
                       class="dropdown-item">Edit</a>
                    <!-- item-->
                    @*<a href="javascript:void(0);" 
                       onclick="DeleteCompany({companyId});" class="dropdown-item">Delete Company</a>*@
                    <!-- item-->
                </div>
            </div>
        </td>
    </tr>
</template>
