@{
    ViewData["Title"] = "Item Master - Manufactured Part";
}
@model CWB.App.Models.ItemMaster.ManufacturedPartNoDetailVM
<input value="M-IM" type="hidden" id="hdn-nav-menu" />
<div class="content" id="ManufPartMain">
    <div class="row">
        <!-- ====== Start col =========== 
        <<!--http://192.168.29.41:9003-->
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <!-- ================ -->
                    <div class="row m-0">
                        <div class="col-md-9">
                            <ul class="nav nav-tabs nav-pills navtab-bg">
                                <li class="nav-item" id="TabMPMain">
                                    <a href="#tab-1" aria-expanded="false" class="nav-link active">
                                        <span class="d-inline-block d-sm-none">Basic Info</span>
                                        <span class="d-none d-sm-inline-block">Basic Information</span>
                                    </a>
                                </li>
                                <li class="nav-item" id="TabHeadMakefrom">
                                    <a href="#tab-2" id="navHeadMakefrom" aria-expanded="true" class="nav-link ">
                                        <span class="d-inline-block d-sm-none">Make from</span>
                                        <span class="d-none d-sm-inline-block">Make from</span>
                                    </a>
                                </li>
                                <li class="nav-item" id="TabHeadBOM">
                                    <a href="#tab-3" id="navHeadBOM" aria-expanded="false" class="nav-link">
                                        <span class="d-inline-block d-sm-none">BOM</span>
                                        <span class="d-none d-sm-inline-block">BOM</span>
                                    </a>
                                </li>
                                <li class="nav-item" id="TabHeadBalloon">
                                    <a href="#tab-4" aria-expanded="false" class="nav-link">
                                        <span class="d-inline-block d-sm-none">Balloon</span>
                                        <span class="d-none d-sm-inline-block">Balloon</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 text-end">
                            <a asp-action="Index" asp-controller="Masters"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></a>
                        </div>
                    </div>
                    <!-- ===============================================================  -->
                    <!-- ===============================================================  -->
            <form method="post" id="ManufPartForm">
                    <div class="tab-content">
                        <!-- ================ -->
                        <div class="tab-pane show active" id="tab-1">
                          
                            <div class="row mt-n1" hidden>
                                <div class="col-md-12">
                                    <h5>New Manufactured Part No Details</h5>
                                </div>
                                
                                <!-- ============================= -->
                                <div class="col-md-7 mb-2">
                                    <table class="w-75 display-none

                                        <tbody>
                                        <td>
                                            <label class="form-check-label" for="gp-12a">New RFQ <span class="text-danger"> * </span></label>
                                            <input class="form-check-input mt-1" type="radio" name="cars" value="2" title="" data-plugin="tippy" data-tippy-placement="top">
                                        </td>
                                        <td>
                                            <label class="form-check-label" for="gp-12a">New Product <span class="text-danger"> * </span></label>
                                            <input class="form-check-input mt-1" type="radio" name="cars" value="3" title="" data-plugin="tippy" data-tippy-placement="top">
                                        </td>
                                        <td>
                                            <label class="form-check-label" for="gp-12a">Upload Existing Production Part No Details <span class="text-danger"> * </span> </label>
                                            <input class="form-check-input mt-1" type="radio" name="cars" value="4" title="" data-plugin="tippy" data-tippy-placement="top">
                                        </td>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- ============= -->
                                <div class="col-md-2 mb-2">
                                    &nbsp;
                                </div>
                                <!-- ============= -->
                            </div>
                            <!-- ============================= -->

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4 mb-2">
                                                <table class="w-100 bord">
                                                    <tbody>
                                                    <td>
                                                        <label class="form-check-label" for="gp-12a">Manufactured Child Part</label>
                                                        <input class="form-check-input mt-1" type="radio" id="ManufChildPart" name="ManufPartType" value="1" title="Use to select if the Part No refers to a Manufactured Child Part or an Assembly - Collection of 2 or more parts assembled, welded, joined together. The Assembly Part no will require the BOM (Bill of Material) to be filled " data-plugin="tippy" data-tippy-placement="top" checked>
                                                    </td>
                                                    <td>
                                                        <label class="form-check-label" for="gp-12a">Assembly <span class="text-danger"> * </span></label>
                                                        <input class="form-check-input mt-1" type="radio" id="Assembly" name="ManufPartType" value="2" title="Use to select if the Part No refers to a Manufactured Child Part or an Assembly - Collection of 2 or more parts assembled, welded, joined together. The Assembly Part no will require the BOM (Bill of Material) to be filled " data-plugin="tippy" data-tippy-placement="top">
                                                    </td>
                                                    </tbody>
                                                </table>
                                                <input type="hidden" id="ManufacturedPartType" value="1" asp-for="ManufacturedPartType" />
                                            </div>
                                            <!-- ============================= -->
                                            <div class="col-md-4 mb-2">
                                                <button type="button" id="createfep" name="createfep" disabled class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#existing-part" title="Use this create a New Part No from an existing Part No Data. This will automatically copy all the Part No Data other than the Part No. Edit as required " data-plugin="tippy" data-tippy-placement="top" onclick="downloadNLoadExistingParts()"> Create from Existing Part</button>
                                            </div>
                                            <!-- ============================= -->
                                            <label class="form-label col-md-1 mb-2 text-end">Status</label>
                                            <div class="col-md-3 mb-2">
                                                <div class="input-group">
                                                    <select class="form-select form-select-sm" id="Status" asp-for="Status">
                                                        <option value="0"> </option>
                                                        <option value="1">Active </option>
                                                        <option value="2">Inactive</option>
                                                        <option value="3">Hold</option>
                                                    </select>
                                                    <button type="button" id="#" class="btn btn-sm waves-effect waves-light" title=" Click to see the Status change details" data-plugin="tippy" data-tippy-placement="top" data-bs-toggle="modal" data-bs-target="#status-info">
                                                        <i class="fe-info color-green add-cust-btn"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- ========================= -->
                                            <!-- ========================= -->
                                            <div class="col-md-7"></div>
                                            <!-- ========================= -->
                                            <label class="form-label col-md-2 mb-2 text-end">Status Change Reason</label>
                                            <div class="col-md-3 mb-2" title="Enter Status Change Reason" data-plugin="tippy" data-tippy-placement="top">
                                                <input class="form-control form-control-sm" type="text" id="StatusChangeReason" asp-for="StatusChangeReason" placeholder="enter here">
                                            </div>
                                            <!-- ========================= -->
                                        </div>
                                        <!-- ---- end row ----  -->
                                    </div>
                                    <!-- ============================= -->
                                    <div class="col-md-12">
                                        <!-- ===== start-1st ====== -->
                                        <div class="row desc" id="Cars2" style="display:none">
                                            <label class="form-label col-md-2 mb-2">Customer <span class="text-danger"> * </span> </label>
                                            <div class="col-md-4 mb-2" title="Select the Company whose Parts you wish to see. If own Company's Parts to be viewed ... select Self Company" data-plugin="tippy" data-tippy-placement="top">
                                                <select class="form-select form-select-sm" required>
                                                    <option value="">Ashok Leyland</option>
                                                    <option value="">Telco</option>
                                                </select>
                                            </div>
                                            <!-- ============================= -->
                                            <label class="form-label col-md-2 mb-2">RFQ Ref <span class="text-danger"> * </span> </label>
                                            <div class="col-md-4 mb-2" title="" data-plugin="tippy" data-tippy-placement="top">
                                                <select class="form-select form-select-sm" required>
                                                    <option value="">RFQ 0001</option>
                                                    <option value="">RFQ 0002</option>
                                                    <option value="">RFQ 0003</option>
                                                    <option value="">RFQ 0004</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- ===== end-1st ====== -->
                                        <!-- ============================= -->
                                        <!-- ===== start-2nd ====== -->
                                        <div class="row desc" id="Cars3" style="display:none">
                                            <label class="form-label col-md-3 mb-2">Internal Decision Reference</label>
                                            <div class="col-md-4 mb-2" title="" data-plugin="tippy" data-tippy-placement="top">
                                                <select class="form-select form-select-sm">
                                                    <option value="">XXXXXXXXXXXXXX</option>
                                                    <option value="">XXXXXXXXXXXXXX</option>
                                                    <option value="">XXXXXXXXXXXXXX</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- ===== end-2nd ====== -->
                                        <!-- ============================= -->
                                        <!-- ===== start-3rd ====== -->
                                        <div class="row desc" id="Cars4" style="display:none">
                                            <label class="form-label col-md-2 mb-2">Customer</label>
                                            <div class="col-md-4 mb-2" title="Select the Company whose Parts you wish to see. If own Company's Parts to be viewed ... select Self Company" data-plugin="tippy" data-tippy-placement="top">
                                                <select class="form-select form-select-sm">
                                                    <option value="">Ashok Leyland</option>
                                                    <option value="">Telco</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- ===== end-3rd ====== -->
                                        <!-- ============================= -->
                                    </div>
                                    <!-- ============================= -->
                                </div>
                                <!-- ============================== -->
                                <div class="row mt-2">
                                    <!-- ========================= -->
                                    <label class="form-label col-md-1 mb-2"> Company <span class="text-danger"> *</span> </label>
                                    <div class="col-md-3 mb-2">
                                        <select class="form-select form-select-sm" id="Companies" name="Companies" asp-items="@ViewBag.Customers" onchange="setCo()"></select>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <button type="button" id="#" class="btn btn-sm waves-effect waves-light" title="Add New Supplier" data-plugin="tippy" data-tippy-placement="top" data-bs-toggle="modal" data-bs-target="#dialog-company">
                                            <i class="fe-plus-square add-cust-btn"></i>
                                        </button>
                                    </div>
                                    <input type="hidden" id="CompanyName" name="CompanyName" value="" />
                                </div>
                                <div class="row mt-2">
                                    <!-- ========================= -->
                                    <!-- ========================= -->
                                    <label class="form-label col-md-1 mb-2">Part No <span class="text-danger"> * </span></label>
                                    <div class="col-md-3 mb-2" title="Enter the Part Number (No.) - fully or Partially to shortlist the Part Nos" data-plugin="tippy" data-tippy-placement="top">
                                        <input class="form-control form-control-sm" type="text" id="PartNumber" asp-for="PartNumber" placeholder="enter here">
                                    </div>
                                    <!-- ========================= -->
                                    <label class="form-label col-md-1 mb-2">Rev No <span class="text-danger"> * </span></label>
                                    <div class="col-md-3 mb-2" title="Enter the Revision Number (Rev No) for the Part No. If not entered, default of '0' is entered" data-plugin="tippy" data-tippy-placement="top">
                                        <input class="form-control form-control-sm" type="text" id="RevNo" asp-for="RevNo" placeholder="enter here">
                                    </div>
                                    <!-- ========================= -->
                                    <label class="form-label col-md-1 mb-2">Rev Date </label>
                                    <div class="col-md-3 mb-2" title="Enter the Rev No Date if available" data-plugin="tippy" data-tippy-placement="top">
                                        <input class="form-control form-control-sm" type="date" id="RevDate" asp-for="RevDate">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <!-- ========================= -->
                                    <label class="form-label col-md-1 mb-2">Part Desc <span class="text-danger"> * </span></label>
                                    <div class="col-md-3 mb-2" title="Enter the Part Description (fully or Partially) to shortlist the Part Nos" data-plugin="tippy" data-tippy-placement="top">
                                        <textarea id="PartDescription" asp-for="PartDescription" class="form-control form-control-sm"></textarea>
                                    </div>
                                    <!-- ========================= -->
                                    <label class="form-label col-md-1 mb-2"> UOM</label>
                                    <div class="col-md-3 mb-2">
                                        <div class="input-group" title="Select the Unit of Measurement (UoM). Default is Numbers (Nos)" data-plugin="tippy" data-tippy-placement="top">
                                            <select class="form-select form-select-sm" id="UOMs" name="UOMs" asp-items="@ViewBag.UOMs" onchange="setUOMId()"></select>
                                            <input type="hidden" id="UOMId" name="UOMId" value="1" />
                                            <!--
                                            <select class="form-select form-select-sm" id="UOMId" asp-for="UOMId">
                                                <option value="0"></option>
                                                <option value="1">Numbers</option>
                                                <option value="2">Kgs</option>
                                                <option value="3">Ltr</option>
                                            </select>
                                            -->
                                            <!--
                                                <button type="button" id="#" class="btn btn-sm waves-effect waves-light" title="Add UOM" data-plugin="tippy" data-tippy-placement="top" data-bs-toggle="modal" data-bs-target="#uom" onclick="showAddUOMDialog()">
                                                    <i class="fe-plus-square add-cust-btn"></i>
                                                </button>
                                                <button type="button" id="#" class="btn btn-sm waves-effect waves-light" title="Edit UOM" data-plugin="tippy" data-tippy-placement="top" data-bs-toggle="modal" data-bs-target="#uom" onclick="showEditUOMDialog()">
                                                    <i class="fas fa-pen font-18"></i>
                                                </button>
                                            -->
                                        </div>
                                    </div>
                                    <!-- -------------------------------------  -->
                                </div>
                                <!-- ============================== -->
                                <div class="row">
                                    <label class="form-label col-md-1 mb-2">Finished Weight (Kgs)</label>
                                    <div class="col-md-3 mb-2" title="Enter the Finished Weight of the Part No in Kgs" data-plugin="tippy" data-tippy-placement="top">
                                        <input class="form-control form-control-sm" type="text" id="FinishedWeight" asp-for="FinishedWeight" placeholder="enter here">
                                    </div>
                                </div>
                                <!-- ---- end row ----  -->
                                <div class="row">
                                    <div class="col-md-1 mb-2">
                                        <button class="btn btn-sm btn-outline-dark w-100 display-none" data-bs-toggle="modal" data-bs-target="#tree">Group</button>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <input class="form-control form-control-sm display-none" type="text" id="example-time" name="time" value="CNMG 120408">
                                    </div>
                                    <div id="op-notifier" class=" col-md-6 mb-2 mt-2"></div>
                                    <div class="col-md-8 text-end mb-2">
                                        <a asp-action="Index" asp-controller="Masters">
                                            <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal">Exit</button>
                                        </a>
                                        <button class="btn btn-sm btn-primary" title="Use to Save the entered data" id="btnManufPartDetailSubmit" value="Save">Save</button>
                                        @*<button type="button" class="btn btn-warning btn-sm"><i class="fas fa-arrow-right"></i></button>*@
                                    </div>
                                    <!-- ------ end col ----------  -->
                                </div>
                                <!-- ---- end row ----  -->
                                <input type="hidden" asp-for="ManufacturedPartNoDetailId" />
                            
                            <!-- ===================  -->
                            <div class="row mt-2">
                                <partial name="_ReferenceDocuments" />
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- ================ -->
                        <div class="tab-pane" id="tab-2">
                            <!-- ========================= -->
                            <!-- ========= -->
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="table-responsive">
                                        <table class="table table-sm">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                            <span class="h6">Customer:</span> <label id="lblCompanyName"></label>
                                                    </td>
                                                    <td>
                                                            <span class="h6">Part No:</span> <label id="lblPartNumber"></label>
                                                    </td>
                                                    <td>
                                                            <span class="h6">Part Description:</span> <label id="lblPartDescription"></label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- ========= -->
                                <div class="col-md-1 display-none">
                                    <div class="table-responsive">
                                        <table class="table table-sm  text-end w-100">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <button class="btn btn-sm btn-dark"><span class="fon-we-700">Target Date :</span> 12/08/2022</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- ========= -->
                            </div>
                            <!-- ========= -->
                            <div class="row">
                                <div class="col-md-2 ">
                                    <label class="h6 form-label mt-n1">Part is Made from :-</label>
                                </div>
                                <div class="col-md-3" title="" data-plugin="tippy" data-tippy-placement="top">
                                    <label class="form-label p-r-5">Customer Supplied Raw Material</label>
                                    <input class="form-check-input mt-1" type="radio" id="csrm" name="PartisMadefrom" value="1" title="Select the source of the Input Part - Customer Supplied Raw Material, Own Raw Material or Another Manufactured Part ...." data-plugin="tippy" data-tippy-placement="top" checked>
                                </div>
                                <div class="col-md-2" title="" data-plugin="tippy" data-tippy-placement="top">
                                    <label class="form-label p-r-5">Own Raw Material</label>
                                    <input class="form-check-input mt-1" type="radio" id="owrm" name="PartisMadefrom" value="2" title="" data-plugin="tippy" data-tippy-placement="top">
                                </div>
                                <div class="col-md-3" title="" data-plugin="tippy" data-tippy-placement="top">
                                    <label class="form-label p-r-5">Other Manufactured Part</label>
                                        <input class="form-check-input mt-1" type="radio" id="otmp" name="PartisMadefrom" value="3" title="" data-plugin="tippy" data-tippy-placement="top">
                                </div>
                                <input type="hidden" id="PartMadeFrom" asp-for="PartMadeFrom" />
                                <div class="col-md-2" id="searchbtn">
                                    <!--place holder for search button-->
                                        <button class="btn btn-sm waves-effect waves-light" title="Select the Customer Supplied Input Material Type" data-plugin="tippy" data-tippy-placement="top" type="button" data-bs-toggle="modal" data-bs-target="#rm-select-cust"><i class="ri-search-2-line bom-ser-1"></i></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2" title="" data-plugin="tippy" data-tippy-placement="top">
                                    <label class="form-label">Input Part No</label>
                                </div>
                                <div class="col-md-2" title="" data-plugin="tippy" data-tippy-placement="top">
                                    <input class="form-control form-control-sm" type="text" id="InputPartNo" name="InputPartNo" value="">
                                </div>
                                <div class="col-md-2" title="" data-plugin="tippy" data-tippy-placement="top">
                                    <label class="form-label">Description</label>
                                </div>
                                <div class="col-md-3" title="" data-plugin="tippy" data-tippy-placement="top">
                                    <textarea id="MFDescription" class="form-control form-control-sm"></textarea>
                                </div>
                            </div>
                            <!--
                            <div class="row">
                                <label class="form-label col-md-2 mb-1">Input Part No</label>
                                <div class="col-md-2 mb-1" title="" data-plugin="tippy" data-tippy-placement="top">
                                    <input class="form-control form-control-sm" type="text" id="InputPartNo" asp-for="InputPartNo">
                                </div>
                                <label class="form-label col-md-1 mb-2">Description</label>
                                <div class="col-md-5 mb-2" title="" data-plugin="tippy" data-tippy-placement="top">
                                    <textarea id="MFDescription" class="form-control form-control-sm"></textarea>
                                </div>
                            </div>
                            -->
                            <!-- ====== end row =========== -->
                            <div class="row">
                                <h6 class="mt-2 mb-2">Raw Material Details</h6>
                                <div class="col-md-4">
                                    <div class="row">
                                        <!-- ========================= -->
                                        <label class="form-label col-md-4 mb-2">Input Weight (Kgs)</label>
                                        <div class="col-md-8 mb-2" title="Enter the Input Weight in kjgs" data-plugin="tippy" data-tippy-placement="top">
                                            <input class="form-control form-control-sm" type="text" id="InputWeight" asp-for="InputWeight" name="inputWeight" placeholder="enter here">
                                        </div>
                                        <!-- ========================= -->
                                        <!-- ========================= -->
                                        <label class="form-label col-md-4 mb-2">Scrap generated (Kgs)</label>
                                        <div class="col-md-8 mb-2" title="Enter the realisable Scrap Weight in Kgs (Difference between Input, Finished Weight + any input material which cannot be collected)" data-plugin="tippy" data-tippy-placement="top">
                                                <input class="form-control form-control-sm" type="text" id="ScrapGenerated" asp-for="ScrapGenerated" name="scrapGenerated" placeholder="enter here">
                                        </div>
                                        <!-- ========================= -->
                                        <!-- ========================= -->
                                        <label class="form-label col-md-4 mb-2">Quantity per Input</label>
                                        <div class="col-md-8 mb-2" title="Enter the number of Finished Part Nos that can manufactured from a single Input Material. Example multiple finished Part Nos can be made from a single input Bar or Sheet ..." data-plugin="tippy" data-tippy-placement="top">
                                            <input class="form-control form-control-sm" type="text" id="QuantityPerInput" asp-for="QuantityPerInput" name="quantityPerInput" placeholder="enter here">
                                        </div>
                                        <!-- ========================= -->
                                        <!-- ========================= -->
                                        <label class="form-label col-md-4 mb-2">Yield Notes</label>
                                        <div class="col-md-8 mb-2" title="Enter any relevant notes regarding the Yield (Input & Finished Part Nos)" data-plugin="tippy" data-tippy-placement="top">
                                            <textarea id="YieldNotes" asp-for="YieldNotes" class="form-control form-control-sm"> ... </textarea>
                                        </div>
                                        <!-- ========================= -->
                                        <div class="col-md-12">
                                            <label class="form-label p-r-5">Prefered Raw Material</label>
                                            <input class="form-check-input mt-1" id="PreferedRawMaterial" asp-for="PreferedRawMaterial" type="checkbox" title="If multiple Input Raw Material Options exist, select the Preferred Raw Material Checkbox if this is the preferred RM " data-plugin="tippy" data-tippy-placement="top">
                                        </div>
                                        <!-- ========================= -->
                                        <div class="col-md-7 mt-2">
                                                <button type="button" class="btn btn-sm btn-info" title="Click this button if there are multiple Raw Material Options for making the finished Part No" data-plugin="tippy" data-tippy-placement="top" id="btnAddMPMakeFrom" onclick="AddAnotherRM()">Add Another Raw Material</button>
                                        </div>
                                            <div id="op-notifier-addrm" class="col-md-7 mt-2"></div>
                                        <!-- ========================= -->
                                            
                                        <!--
                                        <div class="col-md-5 mt-2 text-end">
                                                <button type="button" class="btn btn-sm btn-primary" title="Save the entered Information" data-plugin="tippy" data-tippy-placement="top" id="btnSaveMPMakeFrom">Save</button>
                                        </div>
                                            -->
                                        <!-- ========================= -->
                                    </div>
                                    <!-- ====== end row =========== -->
                                </div>
                                <!-- ====== end row =========== -->
                                <div class="col-md-1"></div>
                                <!-- ====== end row =========== -->
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="table-responsive table-he-180">
                                                <table class="table table-sm table-bordered w-100 mb-3 tableFixHead" id="tbl-MakeFromRM">
                                                <thead class="  table-info th-sti text-center">
                                                    <tr class="table-border-bottom">
                                                        <th width="75%">Input Raw Material Details</th>
                                                        <th width="10%">Input Weight</th>
                                                        <th width="10%">Qty per RM</th>
                                                        <th width="5%"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>                               
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- ---------------  -->
                                        <!-- ---------------  -->
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!-- ====== end row =========== -->
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-warning btn-sm"><i class="fas fa-arrow-left"></i></button>
                                </div>
                                <!-- ---------- -->
                                <div class="col-md-6 text-end">
                                    <a asp-action="Index" asp-controller="Masters">
                                        <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal">Exit</button>
                                    </a>
                                    <button type="button" class="btn btn-warning btn-sm"><i class="fas fa-arrow-right"></i></button>
                                </div>
                                <!-- ------end col ----- -->
                            </div>
                            <!-- ====== end row =========== -->
                        </div>
                        <!-- ================ -->
                        <div class="tab-pane" id="tab-3">              
                            <!-- ========= -->
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="table-responsive">
                                        <table class="table table-sm">
                                            <tbody>
                                                <tr>
                                                        <td>
                                                            <span class="h6">Customer:</span> <label id="lblBOMCompanyName"></label>
                                                        </td>
                                                        <td>
                                                            <span class="h6">Part No:</span> <label id="lblBOMPartNumber"></label>
                                                        </td>
                                                        <td>
                                                            <span class="h6">Part Description:</span> <label id="lblBOMPartDescription"></label>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- ========= -->
                                <div class="col-md-2 display-none">
                                    <div class="table-responsive">
                                        <table class="table table-sm  text-end w-100">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <button class="btn btn-sm btn-dark"><span class="fon-we-700">Target Date :</span> 12/08/2022</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- ========= -->
                            </div>
                            <!-- ========= -->
                            <!-- ========= -->
                            <!-- ================ -->
                            <div class="row mt-3">
                                <!-- ================= -->
                                <div class="col-md-12">
                                    <!-- ====== end row =========== -->
                                        <div class="row mt-2">
                                            <div class="col-md-1">
                                                <button class="btn btn-sm waves-effect waves-light" title="Select Part No" data-plugin="tippy" data-tippy-placement="top" type="button" data-bs-toggle="modal" data-bs-target="#existing-part" onclick="downloadNLoadExistingParts()"><i class="ri-search-2-line bom-ser-1"></i></button>
                                            </div>
                                            <label class="form-label col-md-1 mb-1"> Part No  <span class="text-danger"> * </span></label>
                                            <div class="col-md-2 mb-1">
                                                <input type="text" class="form-control form-control-sm" id="BOMPartNo" name="BOMPartNo">
                                            </div>
                                            <!-- ================= -->
                                            <label class="form-label col-md-1 mb-2"> Part  Desc <span class="text-danger"> * </span></label>
                                            <div class="col-md-4 mb-2">
                                                <textarea id="BOMPartDesc" name="BOMPartDesc" class="form-control form-control-sm"></textarea>
                                            </div>
                                            <!-- ================= -->
                                            <label class="form-label col-md-1 mb-2">Quantity <span class="text-danger"> * </span></label>
                                            <div class="col-md-2 mb-2" title="Enter the Bill of Material Quantity" data-plugin="tippy" data-tippy-placement="top">
                                                <input type="text" id="quantity" name="quantity" class="form-control form-control-sm" asp-for="Quantity" placeholder="Qty" required>
                                            </div>
                                            <!-- ========================== -->
                                            <div class="col-md-12 mb-2 text-end">
                                                <button type="button" class="btn btn-sm btn-info" title="Click to add entered information to the BoM List" data-plugin="tippy" data-tippy-placement="top" id="AddBOM" onclick="AddToBOM()">Add to BOM</button>
                                            </div>
                                            <div id="op-notifier-addbom" class="col-md-12 mb-2 text-end"></div>
                                            <!-- ========================== -->
                                        </div>
                                    <!-- ====== end row =========== -->
                                </div>
                                <!-- ================================================================================== -->
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="table-responsive table-he-130">
                                                <table class="table table-sm table-bordered w-100 mb-3 tableFixHead" id="tbl-BOM">
                                                <thead class="  table-info th-sti">
                                                    <tr class="table-border-bottom">
                                                        <th width="20%">Part No</th>
                                                        <th width="65%">Description</th>
                                                        <th width="10%">BOM Qty</th>
                                                        <th width="5%"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- ============================  -->
                                        <div class="col-md-6 mt-3">
                                            <button type="button" class="btn btn-warning btn-sm"><i class="fas fa-arrow-left"></i></button>
                                        </div>
                                        <!-- ---------- -->
                                        <div class="col-md-6 mt-3 text-end">
                                            <a asp-action="Index" asp-controller="Masters">
                                                   <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal">Exit</button>
                                            </a>
                                            <!--
                                            <button class="btn btn-sm btn-primary" title="Save the entered Information" data-plugin="tippy" data-tippy-placement="top" id="btnSaveBOM">Save</button>
                                            -->
                                            <button type="button" class="btn btn-warning btn-sm"><i class="fas fa-arrow-right"></i></button>
                                        </div>
                                        <!-- ------end col ----- -->
                                    </div>
                                    <!-- end row -->
                                </div>
                            </div>
                            <!-- ==================== -->

                        </div>

                        <!-- ======================= -->
                        <div class="tab-pane" id="tab-4"></div>
                        <!-- ======================= -->
                    </div>
            </form>

                    <!-- ================ -->
                </div>
            </div>
        </div>
        <!-- ====== end col =========== -->
    </div>
    <!-- end row -->
</div>

<template id="csrmsearch">
    <button class="btn btn-sm waves-effect waves-light" title="Select the Customer Supplied Input Material Type" data-plugin="tippy" data-tippy-placement="top" type="button" data-bs-toggle="modal" data-bs-target="#rm-select-cust"><i class="ri-search-2-line bom-ser-1"></i></button>
</template>

<template id="owrmsearch">
    <button class="btn btn-sm waves-effect waves-light" title="Select the Input Material Type" data-plugin="tippy" data-tippy-placement="top" type="button" data-bs-toggle="modal" data-bs-target="#rm-select"><i class="ri-search-2-line bom-ser-1"></i></button>
</template>

<template id="otmpsearch">
    <button class="btn btn-sm waves-effect waves-light" title="Select Other Part" data-plugin="tippy" data-tippy-placement="top" type="button" data-bs-toggle="modal" data-bs-target="#existing-part" onclick="downloadNLoadExistingParts()"><i class="ri-search-2-line bom-ser-1"></i></button>
</template>
   


<template id="MakeFrom-template">
    <tr>
        <td data-key="ScrapGenerated">{scrapGenerated}</td>
        <td data-key="InputWeight">{inputWeight}</td>
        <td data-key="QuantityPerInput">{quantityPerInput}</td>
        <td>
            <div class="dropdown float-center">
                <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-vertical"></i></a>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <a href="javascript:void(0);" data-divisionId="{divisionId}" class="dropdown-item">Edit</a>
                    <!-- item-->
                    <a href="javascript:void(0);" data-divisionId="{divisionId}" class="dropdown-item">delete</a>
                </div>
            </div>
        </td>
    </tr>
</template>
<template id="BOM-template">
    <tr>
        <td data-key="BOMPartNo">{BOMPartNo}</td>
        <td data-key="BOMPartDesc">{BOMPartDesc}</td>
        <td data-key="BOMQty">{quantity}</td>
        <td>
            <div class="dropdown float-center">
                <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-vertical"></i></a>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <a href="javascript:void(0);" data-divisionId="{divisionId}" class="dropdown-item">Edit</a>
                    <!-- item-->
                    <a href="javascript:void(0);" data-divisionId="{divisionId}" class="dropdown-item">delete</a>
                </div>
            </div>
        </td>
    </tr>
</template>
<partial name="_ReferenceDocumentUpload" />
@Html.Partial("_ContactsDialog", new CWB.App.Models.Contacts.CompanyVM())
@Html.Partial("_ExistingPart")
@Html.Partial("_CustomerSuppliedRM", new CWB.App.Models.Contacts.CompanyVM())
@Html.Partial("_RawMaterialSelection", new CWB.App.Models.Contacts.CompanyVM())
@Html.Partial("_AddUOM", new CWB.App.Models.Contacts.CompanyVM())
@section scripts {
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/select2.min.js" defer></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-ui/dist/jquery-ui.js"></script>
    <link href="~/lib/jquery-ui/dist/jquery-ui.css" rel="stylesheet" />
    <script src="~/js/ItemMaster/ManufPart-model.js"></script>
    <script>
        
        $(document).ready(function () {
            // Initialize select2
            $("#Companies").select2();
            // Read selected option
            loadCos();
            $("#epco").keypress(function (event) {
                    modifyTable();
            });
            $("#eppn").keypress(function (event) {
                    modifyTable();
            });
            $("#eppd").keypress(function (event) {
                    modifyTable();
            });
            return;
        });


        var existingpartdata = "";
        function downloadNLoadExistingParts()
        {
            var ManufPartType = $("input[name='ManufPartType']:checked").val();
            var coName = $('#CompanyName').val();
         
            $('#epco').val("");
            $('#eppn').val("");
            $('#eppd').val("");

            epco = "";
            eppn = "";
            eppd = "";

            api.get("/masters/ManufacturedPartNoDetailList?ManufPartType=" + ManufPartType + "&CompanyName=" + coName).then((data) => {
                existingpartdata = data;
                loadExistingParts(existingpartdata)//,"child");
                console.log(existingpartdata);
            }).catch((error) => {
                console.log(error);
            });

        }


        //$("input[type=radio][name=group-it-1]")
        let epco = "";
        let eppn = "";
        let eppd = "";
        
        function modifyTable(){
            epco = "";
            eppn = "";
            eppd = "";

            epco = $('#epco').val();
            eppn = $('#eppn').val();
            eppd = $('#eppd').val();
            //var soption = $("input[name='grchldassy']:checked").val();
            
            if(epco.length < 3)
            {
                epco = "";
            }
            if(eppn.length < 1)
            {
                eppn = "";
            }
            if (eppd.length < 3) {
                eppd = "";
            }
            loadExistingParts(existingpartdata)//, soption);
        }

        function loadExistingParts(data) {
            var compSelect = $('#tbl-existingparts tbody');
            if(compSelect)
            {
                compSelect.empty();
                var strVal = $("#Companies").val();
                $('#epco').val(strVal);
            }
            
            
            for (i = 0; i < data.length; i++) {
                var chld = "Child";
                if (data[i].manufacturedPartType == "2") //{ 
                    chld = "Assembly";
                //    if(soption == "child")
                  //      continue;
                //}
                //else
                //{
                  //  if (soption == "assembly")
                    //    continue;
                //}*
                if (epco.length > 0) {
                    if (!(data[i].companyName.startsWith(epco))) {
                        continue;
                    }
                }
                if (eppn.length > 0) {
                    if (!(data[i].partNumber.startsWith(eppn))) {
                        continue;
                    }
                }
                if (eppd.length > 0) {
                    if (!(data[i].partDescription.startsWith(eppd))) {
                        continue;
                    }
                }
                //todo:soption is a search string
                var val = "<tr><td><input type='radio' name='caselect' value='" + i + "'onclick=''></td>" +
                    "<td>" + data[i].partNumber + "</td>" +
                    "<td>" + data[i].partDescription + "</td>" +
                    "<td>" + chld + "</td>";
                compSelect.append(val);
            }

        }

        function copyData() {
            
            if(existingpartdata.length == 0)
            {
                alert("Please load parts again...");
                return;
            }
            else
            {
                //alert("calling copyData");
            }
            var data = existingpartdata;

            var radiochkd = $('input[name=caselect]:checked');
            var selval = radiochkd.val();
            $('#PartNumber').val(data[selval].partNumber);
            $('#RevNo').val(data[selval].revNo);
            $('#RevDate').val(data[selval].revDate);
            $('#PartDescription').val(data[selval].partDescription);
            $('#StatusChangeReason').val(data[selval].statusChangeReason);
            $('#FinishedWeight').val(data[selval].finishedWeight);
            $('#CompanyName').val(data[selval].companyName);
            $('#Companies').val(data[selval].companyName);
            $('#Companies').trigger('change');
            //companyName
            //FinishedWeight
            //StatusChangeReason
            //Status
            
            //revNo
            //revDate
            //companyName
            //finishedWeight
            //statusChangeReason
            //status
            //uomId
            
        }

        function doChldAssyRadioJob() {
            //var radiochkd = $('input[name=grchldassy]:checked');
            //var selval = radiochkd.val();
            loadExistingParts(existingpartdata)//, selval);
        }

        function loadCos() {
            var compSelect = $('#Companies');
            compSelect.empty();
            var div_data = "<option value=''></option>";
            compSelect.append(div_data);
            api.get("/masters/companies").then((data) => {
                //var div_data = "<option value=""></option>";
                for (i = 0; i < data.length; i++) {
                    div_data = "<option value='" + 
                    data[i].companyName + "'>" + 
                    data[i].companyName + 
                    "</option>";
                 //   console.log(data[i].companyName);
                    compSelect.append(div_data);
                }
                //compSelect.html(div_data);
                //filter once loaded

            }).catch((error) => {
                console.log(JSON.stringfy(error));
            });
        }
        $("#txtCustomer").on("keypress", function () {
            // get the value ftom input
            var text = $(this).val();
            debugger;
            if (text.length > 0) {
                $.get("@Url.Action("Companies")", { text: text }, function (data) {
                    debugger;
                    //add all data
                    for (i = 0; i < data.length; i++) {
                        $("#result").append('<option id=' + data[i].companyId + '>' + data[i].companyName + "</option>");
                    }

                    //if hidden show the select
                    if ($("#result").is(":hidden")) {
                        $("#result").show();
                    }
                });
            }
        });

        $(document).on("click", "#result > option", function () {

            //add selected value to #search
            $("#txtCustomer").val($(this).val());

            //clear and hide #result
            $("#result").empty().hide();
        });

        var newCo = "";
        $("#dialog-company").on('hide.bs.modal', function () {
            //actions you want to perform after modal is closed.
            document.getElementById("frmCompany").reset();
            if (newCo.length > 0) {
                $('#CompanyName').val(newCo);
                $('#Companies').val(newCo);
                $('#Companies').trigger('change');
                newCo = "";
            }
        });

        $(document).on('click', '#btnContactClose', function () {
            var dlgComp = $("#dialog-company");
            //CompanyName
            document.getElementById("frmCompany").reset();
            dlgComp.dialog('close');
        });

        $(document).on('click', '#btnAddUOMClose', function () {
            var dlgComp = $("#dialog-AddUOM");
            document.getElementById("frmAddUOM").reset();
            dlgComp.dialog('close');
        });

        $(document).on('click', '#btnEditUOMClose', function () {
            var dlgComp = $("#dialog-EditUOM");
            document.getElementById("frmEditUOM").reset();
            dlgComp.dialog('close');
        });


        $(document).on('click', '#btnAddUOMSubmit', function () {
            var valid = $("#frmAddUOM").valid();
            if (valid) {
                alert("Todo: Add UOM...");
            }
        });

        $(document).on('click', '#btnEditUOMSubmit', function () {
            var valid = $("#frmEditUOM").valid();
            if (valid) {
                alert("Todo: Edit UOM...");
            }
        });

        $(document).on('click', '#btnContactSubmit', function () {
            var valid = $("#frmCompany").valid();
            newCo = "";
            if (valid) {
                var formData = AppUtil.GetFormData("frmCompany");
                api.post("/contacts/company", formData).then((data) => {
                    $("#DivisionId").val(data.divisionId);
                    $("#CompanyId").val(data.companyId);
                    newCo = data.companyName;
                    loadCos();
                }).catch((error) => {
                    AppUtil.HandleError("frmCompany", error);
                });
            }
        });
                
        function showAddUOMDialog() {
            var dlgComp = $("#dialog-AddUOM");
            dlgComp.dialog({
                width: 300,
                height: 150,
                modal: true,
                title: "Add New UOM"
            });
        }

        function showEditUOMDialog() {
            var dlgComp = $("#dialog-EditUOM");
            dlgComp.dialog({
                width: 300,
                height: 200,
                modal: true,
                title: "Edit UOM"
            });
        }

        function showAddCompDialog() {
            var dlgComp = $("#dialog-company");
            dlgComp.dialog({
               modal: true
            });
        }

        function setUOMId() {
            var strVal = $("#UOMs").children(":selected").attr("id");
            if(strVal == null || strVal == "")
                strVal = "1";
            $('#UOMId').val(strVal);
            //alert(strVal + " UOMId");
        }

        function setCo(){
            var strVal = $("#Companies").val();
            $('#CompanyName').val(strVal);
            //alert("Setting val" + strVal);
            if(strVal != "")
            {
                $('#createfep').prop('disabled', false);
            }
            else
            {
                $('#createfep').prop('disabled', true);
            }
            /*if ($("#ManufacturedPartType").val() == 1) {
                $('#lblCompanyName').text($(this).val());
            }
            else {
                $('#lblBOMCompanyName').text($(this).val());
            }*/
        }
    </script>
}